.panel-custom {
    border-color: #ccc;
    font-family: sans-serif;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.4);
}

    .panel-custom > .panel-heading {
        color: #000000;
        font-weight: bolder;
        background-image: linear-gradient(#fff, #ccc);
        border-radius: 6px;
    }

        .panel-custom > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #ccc;
        }

    .panel-custom > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #ccc;
    }
