body {
	font-family: 'Droid Sans', sans-serif;
    line-height: 1;
}

ol, ul {
	list-style: none;
}

.wrap {
	width: 940px;
	margin: 4em auto;
}

img.ImgBP {
    width: 1005px;
    height: 120px;
    overflow: hidden;
    vertical-align: text-top;
    border: 0;
    margin: 0;
}

.Chat {
    float: right;
    width: 450px;
    height: 350px;
    background: url(images/notificaciones.png) no-repeat !important;
    display: block;
    right: -420px;
    padding: 0;
    position: fixed;
    top: 480px;
    z-index: 1002;
}
.ChatDiv{
    color: rgb(255, 255, 255);
    padding: 8px 5px 0pt 50px;
}

.ChatContenido {
    width: 350px;
    height: 10px;
    color: #FFFFFF;
    padding: 2px;
    margin-left: 20px;
    border: solid 0px #000;
    margin-top: 130px;
}

.ChatFooter {
    width: 190px;
    height: 5px;
    color: #7c93ba;
    margin-left: 1px;
    border: solid 0px #000;
    margin-top: 1px;
    margin-right: 0px;
}

